<h4 id="notice"><%=notice %></h4>
<head>
<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36772878-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</head>
<body>
  <div>
    <header>
      <h1 class="liner">What should I read next?</h1>
    </header>
      <div style="clear: both;"></div>
      <div class='container'>
        <div id='random_book_container' class="container">
          <%= render partial: 'random_book_display' %>
        </div>
      </div>
      <div style="clear: both;"></div>
      <div class="random_link">
          <%= link_to "Nope. Give me another one.", root_path, :class => "button", id: "rlink" %>
      </div>
      <div class="random_link">
      <%= link_to "Suggest a Book", '#', id: "modal_link", :class => "button" %>
        <div id="modal_fun" style="display:none">
          <%= form_for Message.new do |f| %>
            <h1 class="white">Suggest a Book</h1>
            <div class="white">
              <p>If you wimp out, click outside the box to close</p>
            </div>
            <div class="field white">
              <%= f.label :title %><br />
              <%= f.text_field :title, :class => 'submittable' %>
            </div>
            <div class="field white">
              <%= f.label :author %><br />
              <%= f.text_field :author, :class => 'submittable' %>
            </div>
            <div class="field white">
              <%= f.label :summary %>: <span class="italic">Make it short and vaguely snarky, please!</span></br>
              <%= f.text_area :summary, :class => 'submittable', :rows => 4 %>
            </div>
              <div class="field white">
              <%= f.label :suggested_by %><br />
              <%= f.text_field :suggested_by, :class => 'submittable' %>
            </div>
            <div class="actions"><%= f.submit "You know you want to.", :class => "button" %></div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>