<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36772878-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<body>
    <div>
      <h1 class="liner">What should I read next?</h1>
    </div>
  <div class="gradient">
    <div class="cover">
      <%= image_tag random_book.cover.to_s %>
    </div>

    <div class="book_title">
      <%= random_book.title %><br/>
    </div>

    <div class="book_author">
      <%= random_book.author_names %>
    </div>

    <div class="book_summary">
      <%= random_book.summary %><br/>
    </div>

    <div class="random_link">
      <%= link_to "Nope. Give me another one.", root_path %>
    </div>
  </div>
</body>